


{% extends 'baseFront.html.twig' %}

{% block content %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
            <h1>Your trip is a luxury with us !</h1>

        </div>
    </section><!-- End Hero -->

{% endblock %}



