<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.search').on('keyup',function(){
                var searchTerm = $(this).val().toLowerCase();
                $('#userTbl tbody tr').each(function(){
                    var lineStr = $(this).text().toLowerCase();
                    if(lineStr.indexOf(searchTerm) === -1){
                        $(this).hide();
                    }else{
                        $(this).show();
                    }
                });
            });
        });
    </script>
</head>
<body>
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What you looking for?">
</div>
<table class="table table-striped" id="userTbl">
    <tr>
        <th>id</th>
        <th>email</th>
        <th>password</th>
        <th>Name</th>


    </tr>
    {% for c in User %}
    <tr>

        <td>{{ c.id }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.password }}</td>
        <td>{{ c.name }}</td>


    </tr {% endfor %} >
</table>
</body>



</html>
