<form method="post" action="{{ path('app_guide_touristique_delete', {'idGuide': guide_touristique.idGuide}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guide_touristique.idGuide) }}">
    <button class="btn">Delete</button>
</form>
